* {
    margin: 0;
    padding: 0;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 4rem;
    font-size: 2rem;
    height: 5rem;
}

.logo_banner {

}

.navigation_bar {
}

.navigation_bar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navigation_bar li {
    margin: 0;
    padding: 1rem;
}

.main_image {
    background-image: url("../images/main_hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow-x: hidden;
}

.main_image--sub {
    width: 100%;
    padding: 1rem;
    background-color: green;
    color: whitesmoke;
    text-align: center;
}

.company {
    padding: 2rem;
    text-align: center;
}

.products {
    padding: 2rem;
    text-align: center;
    background-color: whitesmoke;
}

.customers {
    padding: 2rem;
    text-align: center;
}

.footer {
    background-color: rgb(9, 49, 9);
    color: whitesmoke;
}

.footer_container {
    padding: 2rem 8rem;
}

.footer_phone {
    text-decoration: none;
    color: whitesmoke;
    transition: all 500ms;
}

.footer_phone:hover {
    text-decoration: none;
    color: wheat;
}

.footer_office {
    text-align: end;
}

.footer_office ul {
    list-style: none;
}