* {
    margin: 0;
    padding: 0;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 4rem;
    font-size: 2rem;
    height: 7rem;
}

.navigation_banner {}

.navigation_buttons {}

.navigation_buttons--btn {}

.navigation_buttons--btn--ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    padding: 1.5rem;
}

.navigation_buttons--btn--ul--li {
    padding: 0 1rem;
}

.main_image {
    background-image: url("../images/main_hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow-x: hidden;
    background-attachment: fixed;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.main_image--sub {
    width: 100%;
    padding: 1rem;
    background-color: green;
    color: whitesmoke;
    text-align: center;
}

.company {
    padding: 2rem;
    text-align: center;
}

.products {
    padding: 2rem;
    text-align: center;
    background-color: whitesmoke;
}

.customers {
    padding: 2rem;
    text-align: center;
}

.footer {
    background-color: rgb(9, 49, 9);
    color: whitesmoke;
}

.footer_container {
    padding: 4rem 0rem;
}

.footer_phone {
    text-decoration: none;
    color: whitesmoke;
    transition: all 500ms;
}

.footer_phone:hover {
    text-decoration: none;
    color: wheat;
}

.footer_office {
    text-align: end;
}

.footer_office ul {
    list-style: none;
}

.sub_banner {}

.sub_banner--image {
    background-image: url("../images/sub_banner.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.sub_head {
    padding-top: 5rem;
}

.sub_head--heading {
    text-align: center;
}

.showcase {}

.showcase_show {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.showcase_show--quote {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-items: center;
}

.showcase_show--quote__body {
    display: flex;
    justify-content: center;
}

.showcase_show--quote__name {}

.showcase_show--quote__pos {}

.showcase_show--picture {
    display: flex;
    justify-content: center;
}

.showcase_show--picture__img {}

.showcase_show--picture__img-i {
    width: 35rem;
}