* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background: rgb(9, 49, 9);
    z-index: 100;
}

.menu-icon {
    width: 100%;
    background: rgb(9, 49, 9);
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

.logo {
    position: fixed;
    float: left;
    margin: 16px 36px;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav ul {
    list-style: none;
    background: rgb(9, 49, 9);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s;
}

nav.black ul {
    background: rgb(9, 49, 9);
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

@media(max-width: 580px) {
    .logo {
        font-size: 16px;
        position: fixed;
        top: 0;
        margin-top: 16px;
    }

    nav ul {
        max-height: 0px;
        background: rgb(9, 49, 9);
    }

    nav.black ul {
        background: rgb(9, 49, 9);
    }

    .showing {
        max-height: 20em;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px 0;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }
}

.main_image {
    background-image: url("../images/main_hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    overflow-x: hidden;
    background-attachment: fixed;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    background-blend-mode: saturation;
}

.main_image--sub {
    width: 100%;
    padding: 1rem;
    color: whitesmoke;
    text-align: center;
}

.company {
    padding: 2rem;
    text-align: center;
}

.products {
    padding: 2rem;
    text-align: center;
    background-color: whitesmoke;
}

.customers {
    padding: 2rem;
    text-align: center;
}

.footer {
    background-color: rgb(9, 49, 9);
    color: whitesmoke;
}

.footer_container {
    padding: 4rem 0rem;
}

.footer_phone {
    text-decoration: none;
    color: whitesmoke;
    transition: all 500ms;
}

.footer_phone:hover {
    text-decoration: none;
    color: wheat;
}

.footer_office {
    text-align: end;
}

.footer_office ul {
    list-style: none;
}

.sub_banner {}

.sub_banner--image {
    background-image: url("../images/sub_banner.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.sub_head {
    padding-top: 5rem;
}

.sub_head--heading {
    text-align: center;
}

.showcase {}

.showcase_show {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.showcase_show--quote {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.showcase_show--quote__body {
    max-width: 20rem;
    font-size: 1.6rem;
}

.showcase_show--quote__name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

.showcase_show--quote__pos {
    color: gray;
}

.showcase_show--picture {
    display: flex;
    justify-content: center;
}

.showcase_show--picture__img {}

.showcase_show--picture__img-i {
    width: 25rem;
}
